::selection { background:rgb(0, 0, 0); color:aqua; }
::-webkit-scrollbar { width:10px; }
::-webkit-scrollbar-track { box-shadow:inset 0 0 6px rgb(185, 28, 28); border-radius:99px; margin:3px; }
::-webkit-scrollbar-thumb { box-shadow:inset 0 0 6px rgb(193, 34, 34); border-radius:99px; background-color:aqua; }


html, body {height:100%; padding:0; margin:0;}
body {
	font-size:16px; line-height:1.5; color:#fff; cursor:default;
	font-family:"Open Sans", "Helvetica Neue", Helvetica,Arial, sans-serif;
	background-image:linear-gradient(120deg,#155799,#159957);
	/* display:flex; align-items:center; justify-content:space-around; */
	display:flex; align-items:center; justify-content:space-evenly;
}
body > *:not(#myChart) {margin:0 50px;}

p {text-align:center;}
input, button, textarea {outline:0 !important;}


#answer {text-align:center; font-size:32px; height:400px;}
#answer .answer {display:flex; justify-content:space-around; margin:10px 0; cursor:pointer; transition:1s;}
#answer .answer span:hover {color:#bfbfbf;}
#answer .answer img {margin-top:30px;position:absolute;left:calc(50% - 128px);}
#answer .answer span:hover > img {display:block !important;}

#dropArea {border:2px dashed #ccc; border-radius:20px; padding:15px;}
#dropArea.highlight {border-color:white; box-shadow:0 0 55px black;}
#dropArea p {margin-top:0;}
#dropArea label {color:black; padding:5px; background:#ccc; cursor:pointer; border-radius:5px; display:flex;justify-content:space-around; text-align:center;}
#dropArea label:hover {background:#eee;}
#dropArea input {display:none;}

#counter {margin-top:-50px;}
#counter p {margin:40px -10px;}
#counter input {width:100%; border:2px solid orange; border-radius:10px; font-size:18px;}

#myChart {overflow:none !important; height:100%; width:100%; min-height:150px;}
#myChart select {position:absolute; z-index:1000; bottom:5px; left:10px;}
#myChart #treemap-layout {opacity:.3; transition:.3s; font-size:16px; padding:5px; border:1px white solid; border-radius:5px; background:rgba(0, 255, 255, 0.5);}
#myChart #treemap-layout:hover {opacity:1;}

#myChart-menu > *:nth-last-child(1) {display:none !important;}
#myChart-license-text {display:none !important;}
